<div class="test-case-pane">
    <div class="test-case-pane--title">
        <mat-icon class="test-case-pane--title--icon">science</mat-icon>
        <h2>Test Case</h2>
    </div>
    
    <div class="test-case-pane--content">
        @if (testCaseInput) {
            <h3>Input values</h3>
            @for (inputValue of testCaseInput; track inputValue) {
                <p class="test-case-display">{{inputValue}}</p>
            }
        }

        <h3>Your prediction</h3>
        <mat-form-field class="test-case-pane--content--input-form">
            <mat-label>Write your thoughts</mat-label>
            <textarea matInput [(ngModel)]="prediction" (keydown.enter)="onKeydown($event)" class="test-case-pane--content--input" appearence="outline" placeholder="e.g. The program will output a sequence of cities in alphabetical order."></textarea>
        </mat-form-field>
    </div>
</div>