<app-toolbar [enableToHomeNavigation]="false"></app-toolbar>

<div class="page">
    <div class="page-heading">
        <h1 class="page-heading--title heading-bold">PRIMMDebug</h1>
        <h2>Teaching a reflective approach to debugging</h2>
    </div>

    <div class="navigation-panes">
        <div class="navigation-pane">
            <h1 class="heading-bold sub-heading">Student?</h1>
            <h4>Head over to the dashboard and start debugging!</h4>
            <button mat-raised-button class="navigation-pane--button" color="green" (click)="toChallengeDashboard()">
                <h2 class="heading-bold button-heading">Start debugging!</h2>
            </button>
        </div>
        <div class="navigation-pane">
            <h1 class="heading-bold sub-heading">Teacher?</h1>
            <h4>Learn more about using PRIMMDebug in your classroom.</h4>
            <button mat-raised-button class="navigation-pane--button" color="green" (click)="toTeacherInfo()">
                <h2 class="heading-bold button-heading">Find out more</h2>
            </button>
        </div>
    </div>
    
    <div class="info-panes">
        <div class="info-pane">
            <img
              src="../../assets/img/flowchart_homepage_img.png"
              [@expandRetract]="imageStates['flowchart']"
              (mouseenter)="onMouseEnter('flowchart')"
              (mouseleave)="onMouseLeave('flowchart')"
            />
            <h1 class="heading-bold sub-heading info-pane--heading">Learn the debugging process</h1>
        </div>
        <div class="info-pane">
            <img
              src="../../assets/img/code_homepage_img.png"
              [@expandRetract]="imageStates['code']"
              (mouseenter)="onMouseEnter('code')"
              (mouseleave)="onMouseLeave('code')"
            />
            <h1 class="heading-bold sub-heading info-pane--heading">Gain practice with common errors</h1>
        </div>
        <div class="info-pane">
            <img
              src="../../assets/img/reflection_homepage_img.png"
              class="reflection-icon"
              [@expandRetract]="imageStates['reflection']"
              (mouseenter)="onMouseEnter('reflection')"
              (mouseleave)="onMouseLeave('reflection')"
            />
            <h1 class="heading-bold sub-heading">Reflect as you go</h1>
        </div>
    </div>

</div>

<app-bottom-toolbar></app-bottom-toolbar>