//Putting these styles in styles.sass doesn't work because material styles are loaded after and take priority. This could be fixed by overriding a load of material styles with :ng-deep but that's long - will search for a shorter way later.
.page-heading
    margin-top: 2%
    margin-bottom: 1.5%

.page-heading--title
    font-size: 40px

.heading-bold
    font-weight: 450

.info-panes
    display: flex
    flex-direction: row
    gap: 5%
    margin-bottom: 3%
    justify-content: space-between
    min-height: 40%

.navigation-panes
    display: flex
    flex-direction: row
    gap: 5%
    margin-bottom: 3%

.navigation-pane
    display: flex
    flex-direction: column
    border-radius: 15px
    min-height: 150px
    height: 100%
    width: 45%
    padding: 1.25% 1.75%
    background-color: #f2f3f4
    gap: 5%

.navigation-pane--button
    width: 65%
    height: 100%
    padding: 3%

.button-heading
    margin: 0

.mat-mdc-raised-button.mat-green
    background-color: #5BB314