<mat-toolbar class="title-pane">
    <div class="title-text">
        <h1>PRIMMDebug</h1>
        <mat-icon class="bug-icon">bug_report</mat-icon>
    </div>
</mat-toolbar>

<!--<div *ngIf="exercises">-->
<div class="page">
    <h3>Select one of the challenges below to get started.</h3>

    <div class="widgets-view">
        @for (exercise of this.exercises; track exercise) {
            <app-exercise-view-widget [exerciseData]="exercise"></app-exercise-view-widget>
        }
    </div>
</div>
<!--<div *ngIf="!exercises" class="error-display">
    <h2>Oh no!</h2>
    <h3>Exercises not loading - have you tried refreshing the page? Are you definitely connected to the internet?</h3>
</div>-->