<app-toolbar></app-toolbar>

<div class="page">
    <div class="page-heading">
        <h1 class="page-heading--title heading-bold">PRIMMDebug</h1>
        <h2>Teaching a reflective approach to debugging</h2>
    </div>

    <div class="primmdebug-info">
        <p>PRIMMDebug is an approach for teaching the debugging process to secondary school students learning text-based programming. It is an extension of PRIMM, a popular approach for teaching programming, with the main focus of encouraging a reflective approach to debugging.</p>
        <p>PRIMMDebug is designed for classroom use and contains two components: the process and the tool.</p>

        <h2>The PRIMMDebug Process</h2>
        <p>Stuff about the process</p>

        <h2>The PRIMMDebug Tool</h2>
        <p>Stuff about the tool</p>

        <h1 class="heading-bold">Teaching with PRIMMDebug</h1>

        <h1 class="heading-bold">Still want to find out more?</h1>

        <h2>Future Roadmap</h2>

        <h2>About us</h2>
        <!--RPCERC images-->

    </div>

</div> 