.enter-details
    display: flex
    flex-direction: row
    gap: 1.5%

.horizontal-rule
    align-self: center

.feedback-message-display
    margin-top: -1%
    margin-bottom: 1%
    display: flex
    flex-direction: row
    gap: 1%

.error-color
    color: #FF5252

.success-color
    color: #5BB314

.mat-mdc-raised-button.mat-green
    background-color: #5BB314

#login-icon
    vertical-align: text-top