<mat-expansion-panel [@.disabled]="disableAnimation" [expanded]="panelOpenState()" (opened)="onPanelExpansionChange(true)" (closed)="onPanelExpansionChange(false)">
    <mat-expansion-panel-header>
        <!--Add icon experiment-->
        @if (!panelOpenState()) {
            <mat-panel-title><mat-icon class="test-case-icon">science</mat-icon> Click to Show Test Cases</mat-panel-title>
        } @else { 
            <mat-panel-title><mat-icon class="test-case-icon">science</mat-icon> Test Case {{testCaseIndex + 1}} of {{testCases!.length}}</mat-panel-title>
        }
    </mat-expansion-panel-header>

    @if (testCases![testCaseIndex].input) {
        <h3>Input values</h3>
        @for (input of testCases![testCaseIndex].input; track $index) {
            <p class="test-case-display">{{input}}</p>
        }
    }

    <h3>Your prediction</h3>
    <p><em>{{studentPredictions![testCaseIndex]}}</em></p>

    @if (testCases![testCaseIndex].expected) {
        <h3>Expected output</h3>
        <p class="test-case-display">"{{testCases![testCaseIndex].expected! | whitespacePreserver}}"</p>
    }

    @if (testCases![testCaseIndex].actual) {
        <h3>Actual output</h3>
        <p class="test-case-display">"{{testCases![testCaseIndex].actual! | whitespacePreserver}}"</p>
    }

    @if (testCases!.length > 1) {
        <div class="expansion-panel-switch-buttons">
            <button mat-icon-button [disabled]="testCaseIndex == 0" (click)="setCurrentTestCaseValue(testCaseIndex - 1)">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <button mat-icon-button [disabled]="testCaseIndex == testCases!.length - 1" (click)="setCurrentTestCaseValue(testCaseIndex + 1)">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    }
</mat-expansion-panel>