<button mat-raised-button color="grey" class="widget-pane" (click)="loadExercise()">
    <div class="button-display">
        <div class="header-pane">
            <h2>{{exercise?.title}}</h2>
            <div class="progress-status">
                @if (challengeProgress == ChallengeProgressType.attempted) {
                    <div class="flex-row progress-status--attempted">
                        <mat-icon class="attempt-icon">build</mat-icon>
                        <h3><strong>Attempted</strong></h3>
                    </div>
                }
                @if (challengeProgress == ChallengeProgressType.completed) {
                    <div class="flex-row progress-status--completed">
                        <mat-icon>check</mat-icon>
                        <h3><strong>Completed</strong></h3>
                    </div>
                }
            </div>
        </div>

        <h4 class="description"> {{exercise?.description | limitString}}</h4>

        <div class="bottom-pane">
            @if (exercise?.difficulty) {
                <div class="flex-row difficulty">
                    <div *ngIf="exercise!.difficulty==DifficultyType.easy" class="flex-row">
                        <mat-icon>stars</mat-icon>
                    </div>
                    <div *ngIf="exercise!.difficulty==DifficultyType.intermediate" class="flex-row">
                        <mat-icon>stars</mat-icon>
                        <mat-icon>stars</mat-icon>
                    </div>
                    <div *ngIf="exercise!.difficulty==DifficultyType.hard" class="flex-row">
                        <mat-icon>stars</mat-icon>
                        <mat-icon>stars</mat-icon>
                        <mat-icon>stars</mat-icon>
                    </div>
                    <h3><strong>{{exercise!.difficulty}}</strong></h3>
                </div>
            }
            
            @if (exercise?.language) {
                <div class="flex-row language">
                    <img src="../../../assets/img/python.png" class="python-icon">
                    <h3><strong>{{exercise!.language}}</strong></h3>
                </div>
            }
        </div>
    </div>
</button>